tr .norelease, .dev{
    background: #fcc none repeat scroll 0 0;
    border-color: #bebfb9;
    border-style: solid;
    border-width: 1px;
    font-weight: normal;
    padding: 3px 10px;
    /*text-transform: uppercase;*/
}
tr .other{
	background: #FFFCE5;
    border-color: #bebfb9;
    border-style: solid;
    border-width: 1px;
    font-weight: normal;
    padding: 3px 10px;
}
tr .available{
	background: #dfd;
    border-color: #bebfb9;
    border-style: solid;
    border-width: 1px;
    font-weight: normal;
    padding: 3px 10px; 
}
 .header{
	background: #e1e2dc;
	text-transform: none;
    
}
caption, .markup  {
    font-weight: bold;
}